html {
      scroll-behavior: smooth;
      text-decoration: none;
}

body { /* background-image: url(ttps://www.chromethemer.com/wallpapers/chromebook-wallpapers/download/mountain-hills-3840x2160.jpg); */
      
      background-size: auto; /* sau 100% */
      background-repeat: no-repeat;
      
      padding: 0;
      margin: 0;
      border: 0;

      height: 100%;
      text-decoration: none;

}

section {
            
      margin: 0;
      padding: 0;

      text-decoration: none;

}

div { 

      margin: 0;
      padding: 0;
      border: 0;

      text-decoration: none;

}

img { 
      
      margin: 0;
      padding: 0; 
      border: 0; 

}

iframe { 
          
      margin: 0; 
      padding: 0; 
      border: 0;

}

hr { 

      margin: 0;
      padding: 0;
      border: 0;

}

a {
      text-decoration: none;
}

ul {
      text-decoration: none;
}

li {
      text-decoration: none;
}

#AlbumsPageTitleParagraph {
                            

}

/* hides the scrollbar */

.HideScrollbar::-webkit-scrollbar {

      display: none;

}

#headerHR {
            
      border-color: white; /* just in case */

      margin: 0;
      padding: 0;

}

.text-over-image {
                        
      position: absolute;

}

.right-side {
                  
      margin-left: 1400px;

}

.justify-content {
                        
      display: flex; 
      justify-content: center;
      align-content: space-between;

}

.menu {
            
      list-style-type: none;
      
      margin: 0;
      padding: 0;
      
      overflow: hidden;
      background-color: #333333;
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      

}

.glow-button:hover {
                        
      background-color: cyan;

}

#bottomP {
            
      margin-left: auto;
      margin-right: auto;

      text-align: center;

      margin-bottom: auto;
      margin-top: auto;

}

.fit {
      
      max-width: 100%;
      max-height: 100%;

}

.align-center {

      display: flex;
      justify-content: space-around;
      align-items: center;

      min-width: 15vw;

}

#menu-link {
                  
      display: block;
      color: white;
      text-align: start;
      display: flexbox;
      font-size: 5vw;
      padding: 1vw;

}

.text-resize {
            
      font-size: 10vw;

}

.text-resize-articles {
                        
      font-size: 4vw;

}

#albumPhoto {

      margin-bottom: -10px;
      margin-top: 0;

}

.center-fix-imgbox {
                        
      display: grid;
      height: 100%;

      max-width: 100%;
      max-height: 100vh;
      
      margin: auto;

}

.article-text {

      text-align: center;
      color: white;
      font-size: 1.5vw;
      padding: 1.5vw;

      margin-left: 0;
      margin-right: 0;

}

.p-article {

      border-style: solid;
      background-color: black;
      padding: 1vw;

      border-top: 0;
      border-bottom: 0;

      height: fit-content;
      max-width: 100%;

}

.footer-container {

      display: inline-flex;
      flex-direction: row;

}

.footer-text {

      /* float: inherit; */
      text-align: center;
      color: white;
      font-size: 1.5vw;
      padding: 1.5vw;

      margin-left: 0;
      margin-right: 0;

}

.p-header {

      font-size: 3vw;

}

.p-footer {

      border-style: solid;
      background-color: black;
      padding: 16px;

      border-top: 0;
      border-bottom: 0;

      border-left: 0;
      border-right: 0;

      height: fit-content;

      max-height: 325px;

      max-width: 100%;

}

.footer-hr {

      border-style: solid;
      border-color: #ffffff;
      border-width: 1px;

      margin-top: 1vw;
      margin-bottom: 1vw;

      margin-left: 2vw;
      margin-right: 2vw;

}

/*--------------------------------------------------------------------------------*/

/* vvvvv LINKS vvvvv */

#top-bottom-spacing {

      margin-top: 10px;
      margin-bottom: 10px;

}

.left-right-spacing {

      margin-left: 10px;
      margin-right: 10px;

}

.link-container {

      display: block; /* the next elements are placed below it and not next to it */
      height: 100%;

}

.links {
      
      font-style: italic;
      text-decoration: none;
      color: orange;
      letter-spacing: 1px;

}

.links:hover {

      color: rgb(255, 95, 0);

}

.nav-links{

      margin-right: -10vw;
      margin-left: -10vw;
      text-decoration: none;
      color: black;
      font-size: 2vw;
      margin: 0.4vw;

}

.nav-links:hover {
      
      color: cyan;
}

/* ^^^^^ LINKS ^^^^^ */

/*--------------------------------------------------------------------------------*/

/* vvvvv Effects vvvvv */

.div_hover {
            
      background-color: black; 
}

.div_hover:hover { 
      
      background-color: rgb(255, 50, 90); 
}

.background-color-change-hover:hover{

      background-color: rgb(255, 50, 90);
}

.glowMe:hover {
      
      -webkit-box-shadow:0 0 15px rgb(255, 50, 90); 
      
      -moz-box-shadow: 0 0 15px rgb(255, 50, 90);
     
      -ms-box-shadow: 0 0 15px rgb(255, 50, 90); 
     
      box-shadow:0 0 15px rgb(255, 50, 90);
}

.effects {
            
      background-color: black; 
}

.effects:hover{

      background-color: rgb(255, 50, 90);

      -webkit-box-shadow:0 0 15px rgb(255, 50, 90); 
      
      -moz-box-shadow: 0 0 15px rgb(255, 50, 90);
     
      -ms-box-shadow: 0 0 15px rgb(255, 50, 90); 

      box-shadow:0 0 15px rgb(255, 50, 90);

}

#hover:hover{
      
      color: black;

      border-color: cyan;

      backdrop-filter: blur(10px);

      background-color:  rgb(0, 255, 255);

      -webkit-box-shadow:0 0 15px  rgb(0, 255, 255); 
      
      -moz-box-shadow: 0 0 15px  rgb(0, 255, 255);
     
      -ms-box-shadow: 0 0 15px rgb(0, 255, 255); 

      box-shadow:0 0 15px  rgb(0, 255, 255);

}

/* @-webkit-keyframes pop-in {
      0% { opacity: 0; -webkit-transform: scale(0.5); }
      100% { opacity: 1; -webkit-transform: scale(1); }
      }
      @-moz-keyframes pop-in {
      0% { opacity: 0; -moz-transform: scale(0.5); }
      100% { opacity: 1; -moz-transform: scale(1); }
      }
      @keyframes pop-in {
      0% { opacity: 0; transform: scale(0.5); }
      100% { opacity: 1; transform: scale(1); }
      }

-webkit-animation:pop-in 0.5s;
-moz-animation:pop-in 0.5s;
-ms-animation:pop-in 0.5s; */

/* .popout {
      animation: popout 1s ease;
      -webkit-animation: popout 1s ease;
  }
  @keyframes popout {
      from{transform:scale(0)}
      80%{transform:scale(1.2)}
      to{transform:scale(1)}
  }
  @-webkit-keyframes popout {
      from{-webkit-transform:scale(0)}
      80%{-webkit-transform:scale(1.2)}
      to{-webkit-transform:scale(1)}
  } */

#hover-NoPressure {
      color: #ff751a;
}

#hover-NoPressure:hover{

      color: black;

      border-color: orange;

      backdrop-filter: blur(10px);

      background-color:  orange;

      -webkit-box-shadow:0 0 15px  orange; 
      
      -moz-box-shadow: 0 0 15px  orange;
     
      -ms-box-shadow: 0 0 15px orange; 

      box-shadow:0 0 15px  orange;

}

#hover-NoPressureGoBackButton a{
      color: black;

      padding-left: 1vw;
      padding-right: 1vw;

      border-color: rgb(231, 75, 16);

      backdrop-filter: blur(10px);

      background-color:  rgb(231, 75, 16);

      -webkit-box-shadow:0 0 15px  rgb(231, 75, 16); 
      
      -moz-box-shadow: 0 0 15px  rgb(231, 75, 16);
     
      -ms-box-shadow: 0 0 15px rgb(231, 75, 16); 

      box-shadow:0 0 15px  rgb(231, 75, 16);

}

#hover-NoPressureGoBackButton:hover{

      border-color: rgb(231, 75, 16);

      backdrop-filter: blur(10px);

      background-color:  rgb(231, 75, 16);

      -webkit-box-shadow:0 0 25px  rgb(231, 75, 16); 
      
      -moz-box-shadow: 0 0 25px  rgb(231, 75, 16);
     
      -ms-box-shadow: 0 0 25px rgb(231, 75, 16); 

      box-shadow:0 0 25px  rgb(231, 75, 16);

}

#hover-COADM {
      color: rgb(250, 81, 75);
}

#hover-COADM:hover{

      color: black;

      border-color: rgb(250, 81, 75);

      backdrop-filter: blur(10px);

      /* background-color:  rgb(247, 247, 247); */

      background-color: rgb(250, 81, 75);

      -webkit-box-shadow:0 0 15px  rgb(250, 81, 75); 
      
      -moz-box-shadow: 0 0 15px  rgb(250, 81, 75);
     
      -ms-box-shadow: 0 0 15px rgb(250, 81, 75); 

      box-shadow:0 0 15px  rgb(250, 81, 75);

}

#hover-SUPERMARKET {
      /* color: rgb(228, 45, 37); */
      color: rgb(248, 209, 70);
}

#hover-SUPERMARKET:hover{

      color: black;

      border-color: rgb(228, 45, 37);

      backdrop-filter: blur(10px);

      background-color:  rgb(248, 209, 70);

      -webkit-box-shadow:0 0 15px  rgb(228, 45, 37);
      
      -moz-box-shadow: 0 0 15px  rgb(228, 45, 37);
     
      -ms-box-shadow: 0 0 15px rgb(228, 45, 37);

      box-shadow:0 0 15px  rgb(228, 45, 37);

}

#YSIV-hover {
      color: darkgrey;
}

#YSIV-hover:hover{

      color: black;

      border-color: darkgrey;

      backdrop-filter: blur(10px);

      background-color:  rgb(217, 217, 217);

      -webkit-box-shadow:0 0 15px  rgb(217, 217, 217);
      
      -moz-box-shadow: 0 0 15px  rgb(217, 217, 217);
     
      -ms-box-shadow: 0 0 15px rgb(217, 217, 217);

      box-shadow:0 0 15px  rgb(217, 217, 217);

}

#BT2-hover{
      color: rgb(217, 171, 77);
}

#BT2-hover:hover{

      color: black;

      border-color: rgb(54, 110, 111);

      backdrop-filter: blur(10px);

      background-color:  rgb(54, 110, 111);

      -webkit-box-shadow:0 0 15px  rgb(54, 110, 111); 
      
      -moz-box-shadow: 0 0 15px  rgb(54, 110, 111);
     
      -ms-box-shadow: 0 0 15px rgb(54, 110, 111);

      box-shadow:0 0 15px  rgb(54, 110, 111);

}

#EVERYBODY-hover{
      color: rgb(91, 127, 175)
}

#EVERYBODY-hover:hover{
      
      color: black;

      border-color: rgb(51, 67, 111);

      backdrop-filter: blur(10px);

      background-color: rgb(51, 67, 111);

      -webkit-box-shadow:0 0 15px  rgb(51, 67, 111); 
      
      -moz-box-shadow: 0 0 15px  rgb(51, 67, 111);
     
      -ms-box-shadow: 0 0 15px rgb(51, 67, 111);

      box-shadow:0 0 15px  rgb(51, 67, 111);

}

#BT1-hover{
      color: rgb(217, 171, 77);
}

#BT1-hover:hover{

      color: black;

      border-color: rgb(54, 110, 111);

      backdrop-filter: blur(10px);

      background-color:  rgb(54, 110, 111);

      -webkit-box-shadow:0 0 15px  rgb(54, 110, 111); 
      
      -moz-box-shadow: 0 0 15px  rgb(54, 110, 111);
     
      -ms-box-shadow: 0 0 15px rgb(54, 110, 111);

      box-shadow:0 0 15px  rgb(54, 110, 111);

}

#TITS-hover {
      color: rgb(159, 25, 34);
}

#TITS-hover:hover{

      color: black;

      border-color: rgb(159, 25, 34);

      backdrop-filter: blur(10px);

      background-color:  rgb(159, 25, 34);

      -webkit-box-shadow:0 0 15px  rgb(159, 25, 34); 
      
      -moz-box-shadow: 0 0 15px  rgb(159, 25, 34);
     
      -ms-box-shadow: 0 0 15px rgb(159, 25, 34);

      box-shadow:0 0 15px  rgb(159, 25, 34);

}

#UnderPressure-hover{
      color: rgb(18, 43, 47);
}

#UnderPressure-hover:hover{

      color: black;

      border-color: rgb(18, 43, 47);

      backdrop-filter: blur(10px);

      background-color:  rgb(18, 43, 47);

      -webkit-box-shadow:0 0 15px  rgb(18, 43, 47);
      
      -moz-box-shadow: 0 0 15px  rgb(18, 43, 47);
     
      -ms-box-shadow: 0 0 15px rgb(18, 43, 47);

      box-shadow:0 0 15px rgb(18, 43, 47);

}

#WTF-hover{
      color: white;
}

#WTF-hover:hover{

      color: black;

      border-color: white;

      backdrop-filter: blur(10px);

      background-color: white;

      -webkit-box-shadow:0 0 15px  white;
      
      -moz-box-shadow: 0 0 15px white;
     
      -ms-box-shadow: 0 0 15px white;

      box-shadow:0 0 15px  white;

}

#YS-hover{
      color: darkgray;
}

#YS-hover:hover{

      color: black;

      border-color: darkgrey;

      backdrop-filter: blur(10px);

      background-color:  rgb(217, 217, 217);

      -webkit-box-shadow:0 0 15px  rgb(217, 217, 217);
      
      -moz-box-shadow: 0 0 15px  rgb(217, 217, 217);
     
      -ms-box-shadow: 0 0 15px rgb(217, 217, 217);

      box-shadow:0 0 15px  rgb(217, 217, 217);

}

#YBI-hover{
      color: darkgray;
}

#YBI-hover:hover{

      color: black;

      border-color: darkgrey;

      backdrop-filter: blur(10px);

      background-color:  rgb(217, 217, 217);

      -webkit-box-shadow:0 0 15px  rgb(217, 217, 217);
      
      -moz-box-shadow: 0 0 15px  rgb(217, 217, 217);
     
      -ms-box-shadow: 0 0 15px rgb(217, 217, 217);

      box-shadow:0 0 15px  rgb(217, 217, 217);
}

/* ^^^^^ Effects ^^^^^ */
/*--------------------------------------------------------------------------------*/
/* vvvvv Animations vvvvv */

.fade {

      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
      
}
      
      @-webkit-keyframes fade {
      
       from {opacity: .1} 
       to {opacity: 1}
      
      }
      
      @keyframes fade {
      
      from {opacity: .1} 
      to {opacity: 1}
      
      }

.longer-fade {

      -webkit-animation-name: longer-fade;
      -webkit-animation-duration: 3s;
      animation-name: fade;
      animation-duration: 3s;

}

      @-webkit-keyframes longer-fade {

            from {opacity: 0.1}
            to {opacity: 1}

      }

      @keyframes longer-fade {

            from {opacity: 0.1}
            to {opacity: 1}

      }

.zoom {
      transition: transform .5s;
}

.zoom:hover {
      transform: scale(1.25);
}

.low-zoom {
      transition: transform .5s;
}

.low-zoom:hover{
      transform: scale(1);
}

.grayscale{
      filter: grayscale(0%);
      transition: 1s;
      
}

.grayscale:hover{
      filter: grayscale(100%);
}

/* ^^^^^ Animations ^^^^^ */

.title {

      font-size: 5vw;

}

.header {
      
      padding-left: 5vw;
      padding-right: 5vw;
      display: block;

}

.nav {

      display: flex;
      align-items: center;
      justify-content: space-between;
      
}

.horizontal-list {

      list-style: none;
      display: flex;
      justify-content: space-between;

}

.horizontal-list li {

      padding-left: 4vw;
      font-size: 1.2vw;

}

.PageNav {

      top: 25vw;
      transform: translate(-50%, -50%);
      position: fixed;
      z-index: 10;
      font-size: 1vw;
      margin-left: 5vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      text-align: center;
      
      font-family: Lobster, cursive;

}

.PageNavContent {

      color: cyan;
      border-style: solid;
      padding: 0.5vw;
      font-size: 2vw;
      min-width: 6vw;

      /* backdrop-filter: blur(5px); */

}

.LogicPage-content-separator {

      z-index: -10;
      position: relative;
      background-color: black;
      padding-top: 25vh;
      padding-bottom: 25vh;
      margin-top: 40%;
      font-family: Lobster, cursive; 
      font-size: 5vw; 
      margin-left: -5px; 
      margin-right: -5px;
      text-align: center;
      color: white;
      margin-bottom: 0;

}

.LogicPage-separator-content {

      z-index: -10;
      position: relative;
      justify-content: space-around;
      align-items: center;
      color: aliceblue;
      text-align: center;
      font-size: 2vw;

}

.Story-text {

      position: absolute; 
      top: 20vw; 
      left: 50%;
      transform: translate(-50%, -50%); 
      max-width: 50vw; 
      font-size: 2.5vw; 
      color: black; 
      font-weight: 500; 
      font-family: 'Oswald', sans-serif; 
      backdrop-filter: blur(0px); 
      border-style: solid; 
      border-width: 0px;
      padding: 1vw;

}

.DETROIT-IMAGE {

      filter: blur(0px);
      margin-top: 0;

}

.DETROIT {

      position: absolute;
      top: 40vw;
      transform: translate( -50%, -50% );
      left: 50%;
      right: auto;
      
      color: black;
      font-size: 5vw;
      font-style: italic;
      border-style: solid;
      border-width: 0px;
      width: fit-content;
      padding-left: 1vw;
      padding-right: 2.5vw;
      font-family: 'Oswald', sans-serif;;
      
      backdrop-filter: blur(10px);

}

.Music-Career {

      font-family: 'Oswald', sans-serif;
      color: cyan;
      font-size: 1.5vw;
      position: absolute;

      margin-top: 11vw;
      display: inline-flex;
      flex-direction: row;
      text-align: justify;
      text-align-last: center;
      
}

.AlbumPageNav {

      position: absolute;

      list-style-type: none;

      display: flex;

      align-items: baseline;
      
      flex-grow: 1;

      font-family: Lobster, cursive;

}

.AlbumPageNavContent {

      margin-left: 9vw;
      
      float: left;
      
}

.AlbumPageTitle {

      color: black;
      
      font-size: 7vw;

}

.AlbumPageNavLink {

      text-decoration: none;
      color: black;

      font-size: 3vw;

      border-style: solid;
      border-width: 0;

      padding-top: 0.5vw;
      padding-bottom: 0.5vw;

      padding-left: 1vw;
      padding-right: 1vw;

}

.AlbumPage-content-separator {

      z-index: -10;
      position: relative;
      background-color: black;
      padding-top: 25vh;
      padding-bottom: 25vh;
      margin-top: -1%;
      font-family: Lobster, cursive; 
      font-size: 5vw; 
      margin-left: -5px; 
      margin-right: -5px;
      text-align: center;
      color: white;
      margin-bottom: 0;

}

.AlbumPageHistory {

      padding-left: 10vw;
      padding-right: 10vw;

      padding-top: 20vw;
      padding-bottom: 20vw;

      background-image: url(https://i.pinimg.com/originals/49/30/a1/4930a1816e444289c48ef10abe0c0381.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      
      display: inline-flex;
      flex-direction: row;

      justify-content: space-evenly;
      align-items: center;

}

.AlbumPageHistoryText {

      color: white;
      font-family: Oswald, sans-serif;
      border-style: solid;
      backdrop-filter: blur(0px);
      max-width: 65%;
      height: fit-content;

      font-size: 1.5vw;

}

.AlbumPageAlbums {

      background-image: url(https://www.eastweststudios.com/_images/section_studio-1-control_3@2x.jpg);
      background-size: 100%;
      background-repeat: no-repeat;

      float: left;

      justify-content: space-evenly;

      align-items: center;

      padding-top: 10vw;
      padding-bottom: 10vw;

      padding-left: 10.5vw;
      padding-right: 0vw;

      display: block;

      font-family: Oswald, sans-serif;

}

.AlbumPageAlbumsText {

      color: #ffffff;
      font-size: 4vw;
      font-family: Oswald, sans-serif;
      padding-bottom: 1vw;

      margin-left: 1.64vw;

}

.AlbumsLogo {

      transform: scale(.8);

      color: white;

      margin: 0.4vw;

      width: 13.37vw;
      height: 15.5vw;

      padding: 0.2vw;

      padding-bottom: 0.1vw;

      font-size: 1vw;

      float: left;

      text-align: center;

      border-style: solid;
      background-color: black;

}

.LogoResize {
      
      width: 13.37vw;
      height: 13.37vw;

      /* resizes the image and the text from the div */

}

/*--------------------------------------------------------------------------------*/

/* No Pressure Album */

/*--------------------------------------------------------------------------------*/

.NoPressureAlbumHeaderText {

      position: absolute;
      font-size: 2vw;

      padding-top: 11.5vw;
      padding-left: 24vw;

}

.NoPressureAlbumHeaderText-title {

      text-decoration: underline;
      margin: 0;

}

.NoPressureAlbumHeaderText-description {

      border-style: solid;
      border-width: 0px;

      max-height: 15vw;
      max-width: 20vw;

      padding-left: 1vw;
      padding-right: 1vw;

}

.NoPressureAlbumHeaderImage {

      position: absolute;

      padding-top: 11.5vw;
      padding-left: 2.7vw;

}

.NavBar-Right {

      position: absolute;
      list-style-type: none;
      
      display: inline-flex;

      justify-content: space-between;
      align-items: center;

      padding-top: 2.2vw;
      padding-left: 68vw;

      font-size: 2vw;

}

.NavLink-Right a{

      color: black;
      margin: 2vw;

}

.AlbumTracks{
      
      position: absolute;
      color: black;

      font-size: 2vw;

}

.Tracks {

      float: left;

      display: flex;

      /* flex-wrap: wrap; MAKES DIVS GO ON THE NEXT LINE WHEN NO MORE SPACE */

      flex-wrap: wrap;

      flex-direction: row;

      margin-top: 5.4vw;

      padding-left: 19vw;
      padding-right: 0vw;

      justify-content: space-evenly;
      align-items: center;

}

.Track1 {

      transform: scale(0.7);

      justify-content: space-evenly;
      align-items: center;
      
      text-align: center;

      margin-top: -2vw;

      margin-left: 1vw;
      margin-right: 1vw;

      border-style: solid;
      border-width: .25vw;
      border-color: black;

      background-color: black;

      max-width: 13.37vw;
      max-height: 17vw;

      font-size: 1.5vw;
      line-height: 1.5vw;
      padding-bottom: .2vw;
      color: #ff751a;

}

.Track2 {

      transform: scale(0.8);

      justify-content: space-evenly;
      align-items: center;

      font-size: 1.5vw;
      text-align: center;

      border-style: solid;
      border-width: 3px;
      border-color: black;
      background-color: black;

      padding-bottom: 0vw;

}
/*--------------------------------------------------------------------------------*/

/* BUTTONS */

/*--------------------------------------------------------------------------------*/

.GoBack-button-NoPressureAlbum {

      position: absolute;

      text-decoration: none;

      margin-top: 32vw;
      margin-left: 4.15vw;

      font-size: 2vw;

      border-style: solid;
      border-width: 0px;

      padding-left: 1vw;
      padding-right: 1vw;

}

.SeeAlbumTracks-button-NoPressureAlbum{

      position: absolute;
      z-index: 9999;

      text-decoration: none;
      text-align-last: center;

      margin-top: -24.5vw;
      margin-left: 22.9vw;

      font-size: 2vw;

      border-style: solid;
      border-width: 0px;

      /* padding-top: .5vw;
      padding-bottom: .5vw; */

      padding-left: 1vw;
      padding-right: 1vw;

}

.GoUp-button-NoPressureAlbum{

      position: absolute;
      z-index: 9999;

      text-decoration: none;
      text-align-last: center;

      margin-top: 6.4vw;
      margin-left: 5.55vw;

      font-size: 2vw;

      border-style: solid;
      border-width: 0px;

      /* padding-top: .5vw;
      padding-bottom: .5vw; */

      padding-left: 0vw;
      padding-right: 0vw;

}

/*--------------------------------------------------------------------------------*/

#test {
        color: black;
        text-align: left;
        margin-top: 1000px;
        margin-left: 125px;
        justify-content: space-between;
        align-items: flex-start;
            list-style: none;
            text-decoration: none;
}

/*--------------------------------------------------------------------------------*/
